$icomoon-font-family: "panelstack" !default;
$icomoon-font-path: "fonts" !default;

$copy-alt: "\e900";
$Dashboard: "\e901";
$delete-alt: "\e902";
$download-alt: "\e903";
$edit-alt: "\e904";
$favorite: "\e905";
$help: "\e906";
$location: "\e907";
$project: "\e908";
$search: "\e909";
$setting: "\e90a";
$share-alt: "\e90b";
$upload-alt: "\e90c";
$share-2: "\e90d";
$bargraph: "\e018";

